[user]
	email = gc771427477@gmail.com
	name = Chong Guan
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[push]
	; for git 1.8
	default = simple
[core]
	editor = /usr/local/bin/vim
