snippet $@ "Expand to the arguments of the command line"
if declare -f "\$1" > /dev/null; then
    "$@"
else
    echo "'\$1' is not a known function name" >&2
    exit 1
fi
endsnippet

snippet errorFunc "Error exit function"
error_exit() {
    echo \$1 1>&2
    exit 1
}
endsnippet

snippet errExit "Error exit"
error_exit "$1"
$0
endsnippet
